.detachable-header[data-v-3a8a1530] {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  transition-property: background, top;
  transition-duration: 0.2s;
}
.detachable-header.disable-top-tween[data-v-3a8a1530] {
  transition-property: background;
}
.tween-reveal.reveal-translate[data-v-3a8a1530] {
  transition-property: transform, background, top;
}
.tween-reveal.reveal-fade[data-v-3a8a1530] {
  transition-property: opacity, background, top;
}

